:root {
    --max-width: 1536px;
    --main-color: 16, 16, 32;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    font-family: sans-serif;
}
html, body {    
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(var(--main-color));
    overflow-x: clip;
    align-items: center;
}

/* #region // === HEADER === // */ 
*::-webkit-scrollbar {
    height: 0.5vw;
    width:  0.5vw;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
*::-webkit-scrollbar-track:active {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  background-color: rgb(64, 64, 128);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}
/* #endregion // === HEADER === // */ 
/* #region // === HEADER === // */ 
header {
    background-color: rgb(var(--main-color));
    position: fixed;
    width: 100vw;
}
header .content {
    width: calc(var(--max-width) - 16px * 2);
    max-width: calc(100% -  16px * 2);
    height: calc(100% - 16px * 2);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
header .content h1 {
    width: fit-content;
    height: 100%;
}
header .content h1 a {
    display: block;
    height: 100%;
    line-height: 32px;
    font-size: 32px;
    color: white;    font-family: 'Quicksand', sans-serif;

}
header .content .nav {
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
} 
header .content .nav button {
    display: none;
}
header .content .nav nav { 
    flex: 0 0 auto;
    display: flex;
    width: 100%;
}
header .content .nav nav a {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 16px;
}
header .content .nav nav a span {
    color: white;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: calc(512px + 256px + 128px + 16px)) {
    header .content .nav button {
        display: block;
        width: 32px;
        height: 32px;
        flex: 0 0 auto;
    }
    header .content .nav.close {
        width: 32px;
    }
    header .content .nav.close nav {
        display: none;
    }
    header .content .nav.open {
        position: fixed;
        right: -0.5vw;
        top: 0;
        height: 100%;
        width: 192px;
        max-height: calc(100vh - 32px);
        padding: 16px;
        z-index: 2;
        background-color: rgb(var(--main-color));
        flex-direction: column;
    }
    header .content .nav.open::before {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(8, 8, 16, 0.75);
        width: calc(100% - 192px - 16px * 2 + 0.5vw);
        height: 100vh;
        content: '';
    }
    header .content .nav.open nav {
        display: flex;
        flex-direction: column;
    }
    header .content .nav.open nav a { 
        height: 16px;
        min-height: 16px;
        display:flex; 
    }
    header .content .nav.open nav a:hover::before { 
        content: '>';
        display: block;
        width: 16px;
        margin-left: -32px;
        margin-right: 16px;
        text-align: end;
    }
    header .content .nav.open nav a:hover::after  { 
        content: '<'; 
        display:block; 
        width: 16px;
        height: 16px;
        margin-right: -32px;
        margin-left: 16px;
        text-align: start;
    }
}
/* #endregion // === HEADER === // */
/* #region // === MAIN === // */
main {
    width: var(--max-width);
    max-width: 100%;
    margin: 0px max((100% - var(--max-width)) / 2, 0px);
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    gap: 16px;
}
main > .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
main > .content section {
    /* border-radius: 5px; */
    overflow-x: auto;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
/* #endregion // === MAIN === // */
main nav {
    display: flex;
    width: 100%;
    gap: 16px;
    height: 32px;
}
main nav div {
    width: 100%;
    display: flex;
}
main nav div input{
    padding: 8px 16px;
    width: 100%;
    height: 16px;
    border: 0;
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 8px 0 0 8px;
}
main nav div button {
    border: 0;
    border-radius: 0 8px 8px 0;
    padding: 8px 16px;
    background-color: rgb(0, 0, 0, 0.25);
    height: 32px;
}
main nav > button{
    padding: 8px 16px;
    height: 32px;
}
main ul {
    display: flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
}
main ul li {
    background-color: rgba(255,255,255,0.75);
    width: calc((100% - 16px * 5) / 6);
    height: 16px;
    border-radius: 2px;
}
@media screen and (max-width: calc(128px * 15)) { main ul li { width: calc((100% - 16px * 4) / 5); } }
@media screen and (max-width: calc(128px * 14)) { main ul li { width: calc((100% - 16px * 4) / 5); } }
@media screen and (max-width: calc(128px * 13)) { main ul li { width: calc((100% - 16px * 4) / 5); } }
@media screen and (max-width: calc(128px * 12)) { main ul li { width: calc((100% - 16px * 3) / 4); } }
@media screen and (max-width: calc(128px * 11)) { main ul li { width: calc((100% - 16px * 3) / 4); } }
@media screen and (max-width: calc(128px * 10)) { main ul li { width: calc((100% - 16px * 3) / 4); } }
@media screen and (max-width: calc(128px *  9)) { main ul li { width: calc((100% - 16px * 2) / 3); } }
@media screen and (max-width: calc(128px *  8)) { main ul li { width: calc((100% - 16px * 2) / 3); } }
@media screen and (max-width: calc(128px *  7)) { main ul li { width: calc((100% - 16px * 2) / 3); } }
@media screen and (max-width: calc(128px *  6)) { main ul li { width: calc((100% - 16px * 1) / 2); } }
@media screen and (max-width: calc(128px *  5)) { main ul li { width: calc((100% - 16px * 1) / 2); } }
@media screen and (max-width: calc(128px *  4)) { main ul li { width: calc((100% - 16px * 1) / 2); } }
@media screen and (max-width: calc(128px *  3)) { main ul li { width: calc((100% - 16px * 0) / 1); } }
@media screen and (max-width: calc(128px *  2)) { main ul li { width: calc((100% - 16px * 0) / 1); } }
@media screen and (max-width: calc(128px *  1)) { main ul li { width: calc((100% - 16px * 0) / 1); } }
footer {
    background-color: rgb(var(--main-color));
    width: 100vw;
}
footer .content {
    width: calc(var(--max-width) - 16px * 2);
    max-width: calc(100% - 16px * 2);
    height: calc(100% - 16px * 2);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin: auto;
}
footer .content p {
    color: white;
    width: 100%;
}
footer .content div {
    width: calc((100% - 16px * 2) / 3);
    padding: 16px 0;
}